<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Buttons - VA.gov Design System </title>
  <meta name="description" content="Buttons">



  <!-- Icons -->
  <link href="/vets-design-system-documentation/assets/img/favicons/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
  <link href="/vets-design-system-documentation/assets/img/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="/vets-design-system-documentation/assets/img/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="/vets-design-system-documentation/assets/img/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link rel="shortcut icon" href="/vets-design-system-documentation/assets/img/favicons/favicon.ico">

  <link rel="stylesheet" href="/vets-design-system-documentation/formation.min.css">
  <link rel="stylesheet" href="/vets-design-system-documentation/assets/stylesheets/application.css">

  <link rel="canonical" href="https://design.va.gov/vets-design-system-documentation/components/buttons">
  <link rel="alternate" type="application/rss+xml" title="VA.gov Design System" href="https://design.va.gov/vets-design-system-documentation/feed.xml">

</head>


  <body >

    <a class="usa-skipnav" href="#main-content">Skip to main content</a>


<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="" style="padding-left:24px;">
      <img src="/vets-design-system-documentation/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here's how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/vets-design-system-documentation/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br>
            The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-c-header" role="banner">

  <div class="site-l-wrapper">
    <div class="site-c-header__masthead">
      <div class="site-c-header__logo" id="extended-logo">
        <em class="site-c-header__logo-text">
          <a class="site-c-header__logo-link" title="VA.gov Design System homepage" href="/vets-design-system-documentation/"><strong class="vads-u-display--block small-screen:vads-u-display--inline">VA.gov</strong> <span class="vads-u-display--none small-screen:vads-u-display--inline">|</span> Design System</a>
        </em>
      </div>
      <div class="site-c-header__utility-links">
        <a href="/vets-design-system-documentation/documentation/whats-new.html" class="usa-button site-button-inverse">What’s new?</a>
        <a href="/vets-design-system-documentation/documentation/code-and-design.html" class="usa-button vads-u-margin--0">Get code and design files</a>
        <div id="search-container" class="site-search-container">
          <i class="fas fa-search search-icon"></i>
          <input type="search" class="site-search-container__input" id="search-input" placeholder="Search..." aria-label="Search">
          <ul id="results-container" class="site-search-results" role="listbox"></ul>
        </div>
      </div>
      <button type="button" id="toggle-mobile-search" aria-label="Show search" class="site-toggle-search" aria-controls="mobile-search-container"><i class="fas fa-search"></i></button>
      <button class="site-c-header__open-mobile-nav-button" id="open-mobile-nav-button" aria-label="Open navigation menu" type="button">Menu</button>
    </div>
    <nav class="site-c-header__nav">
      <ul class="site-c-header__nav-list">
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/documentation">Documentation</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/content-style-guide">Content</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/design">Design</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link  current " href="/vets-design-system-documentation/components">Components</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/utilities">Utilities</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/patterns">Patterns</a>
        </li>
        <li class="site-c-header__nav-item">
          <a class="site-c-header__nav-item__link " href="/vets-design-system-documentation/layout">Layout</a>
        </li>
      </ul>
    </nav>

  </div>

</header>

<div id="mobile-search-container" class="site-search-container site-seach-container--mobile">
  <i class="fas fa-search search-icon search-icon--mobile"></i>
  <input type="search" class="site-search-container__input vads-u-max-width--none" id="mobile-search-input" placeholder="Search..." aria-label="Search">
  <ul id="mobile-results-container" class="site-search-results site-search-results--mobile" role="listbox"></ul>
</div>

    <div class="site-c-mobile-nav" id="mobile-nav">
  <button id="close_mobile_nav_button" class="site-c-mobile-nav__close-button" type="button" aria-label="Close this menu"><i class="fas fa-times"></i></button>
  <div class="usa-accordion ">
  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading vads-u-border-top--0">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button"
      aria-expanded="false" aria-controls="nav-a1">Documentation</button>
  </p>
  <div id="nav-a1" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation">Overview</a>
      </li>
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/code-and-design">Code and design files</a>
            </li>
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/contributing-to-formation">Contributing to Formation</a>
            </li>
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/content-writers">For content writers</a>
            </li>
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/designers">For designers</a>
            </li>
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/developers">For developers</a>
            </li>
          
        
      
       
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/naming">Naming convention</a>
            </li>
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/updating-this-site">Updating this site</a>
            </li>
          
        
      
       
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/documentation/whats-new">What’s new?</a>
            </li>
          
        
      
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a2">
      Content
    </button>
  </p>
  <div id="nav-a2" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/word-list">Word list</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/bulleted-lists">Bulleted lists</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/button-labels">Button labels</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/capitalization">Capitalization</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/content-principles">Content principles</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/dates-and-numbers">Dates, times, and phone numbers</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/government-forms">Government forms</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/health-content">Health content</a>
            </li>
          
        
      
        
          
        
      
        
          
        
      
        
          
        
      
        
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/punctuation">Punctuation</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/seo">Writing for SEO</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/sign-up-for-updates">Sign up for updates</a>
            </li>
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/they-their">They, their</a>
            </li>
          
        
      
        
          
        
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/content-style-guide/we-us-you">We, us, you</a>
            </li>
          
        
      
        
          
        
      
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a3">
      Design
    </button>
  </p>
  <div id="nav-a3" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design">Overview</a>
      </li>
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/color-palette">Color palette</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/icons">Icons</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/image-aspect-ratios">Image aspect ratios</a>
            </li>
          
        
      
      
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/spacing-units">Spacing units</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/design/typography">Typography</a>
            </li>
          
        
      
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="true" aria-controls="nav-a4">
      Components
    </button>
  </p>
  <div id="nav-a4" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components">Overview</a>
      </li>
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/accordions">Accordions</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/additional-info">Additional info</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/address-block">Address block</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/alertboxes">Alert boxes</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/breadcrumbs">Breadcrumbs</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link  current " href="/vets-design-system-documentation/components/buttons">Buttons</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/featured-content">Featured content</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/form-controls">Form controls</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/horizontal-rules">Horizontal rules</a>
            </li>
          
        
      
      
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/labels">Labels</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/loading-indicators">Loading indicators</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/modal">Modal</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/pagination">Pagination</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/process-list">Process list (subway map)</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/progress-bars">Progress bars</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/sidenav">Sidenav</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/components/tables">Tables</a>
            </li>
          
        
      
    </ul>
  </div>



  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a5">
      Utilities
    </button>
  </p>
  <div id="nav-a5" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities">Overview</a>
      </li>
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/background-color">Background color</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/border">Border</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/color">Color</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/display">Display</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/flexbox">Flexbox</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-family">Font family</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-size">Font size</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-style">Font style</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/font-weight">Font weight</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/height-and-width">Height and width</a>
            </li>
          
        
      
      
      
      
      
      
      
      
      
      
      
      
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/line-height">Line height</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/margins">Margins</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/measure">Measure</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/padding">Padding</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/text-align">Text align</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/text-decoration">Text decoration</a>
            </li>
          
        
      
      
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/utilities/visibility">Visibility</a>
            </li>
          
        
      
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a6">
      Patterns
    </button>
  </p>
  <div id="nav-a6" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns">Overview</a>
      </li>
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/content-presentation">Content presentation</a>
            </li>
          
          
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/form-feedback">Form feedback</a>
            </li>
          
          
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/form-templates">Form templates</a>
            </li>
          
          
      
        
          
          
      
        
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/patterns/pages">Pages</a>
            </li>
          
          
      
    </ul>
  </div>


  <!-- Use the accurate heading level to maintain the document outline -->
  <p class="usa-accordion-heading site-c-mobile-nav__accordion-heading">
    <button class="usa-accordion-button site-c-mobile-nav__accordion-button" aria-expanded="false" aria-controls="nav-a7">
      Layout
    </button>
  </p>
  <div id="nav-a7" class="usa-accordion-content site-c-mobile-nav__accordion-content">
    <ul class="site-c-mobile-nav-list">
      <li class="site-c-mobile-nav-list__item">
        <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/layout">Overview</a>
      </li>
      
          
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/layout/flexbox-grid">Flexbox grid</a>
            </li>
          
          
      
          
          
            <li class="site-c-mobile-nav-list__item">
              <a class="site-c-mobile-nav-list__link " href="/vets-design-system-documentation/layout/float-grid">Float grid</a>
            </li>
          
          
      
          
      
          
          
          
      
    </ul>
  </div>

</div>
</div>

    <div class="site-c-content">
      
      <div class="site-c-content__nav">
        
          <ul class="site-c-sidenav-list">
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
    <li class="site-c-sidenav-list__item ">
      <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components">Overview</a>
      
    </li>
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/accordions">Accordions</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/additional-info">Additional info</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/address-block">Address block</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/alertboxes">Alert boxes</a>
            
              <ul class="site-c-sidenav-list__sub">
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#information-status">Information status</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#warning-status">Warning status</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#success-status">Success status</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#error-status">Error status</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#continue-status">Continue status</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#alert-boxes-with-expandable-content">Alert boxes with expandable content</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#background-color-only">Background color only</a></li>
                
              </ul>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/breadcrumbs">Breadcrumbs</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item  current ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/buttons">Buttons</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/featured-content">Featured content</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/form-controls">Form controls</a>
            
              <ul class="site-c-sidenav-list__sub">
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#text-inputs">Text inputs</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#select-box">Select box</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#checkboxes">Checkboxes</a></li>
                
                  <li class="site-c-sidenav-list__sub-item">
                    <a class="site-c-sidenav-list__sub__link" href="#radio-buttons">Radio buttons</a></li>
                
              </ul>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/horizontal-rules">Horizontal rules</a>
            
          </li>
        
      
  
      
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/labels">Labels</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/loading-indicators">Loading indicators</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/modal">Modal</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/pagination">Pagination</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/process-list">Process list (subway map)</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/progress-bars">Progress bars</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/sidenav">Sidenav</a>
            
          </li>
        
      
  
      
        
          <li class="site-c-sidenav-list__item ">
            <a class="site-c-sidenav-list__link " href="/vets-design-system-documentation/components/tables">Tables</a>
            
          </li>
        
      
  
</ul>
          
        
      </div>
      <div class="site-c-content__content">
        <main id="main-content" class="site-l-content-wrapper--styleguide large-screen:vads-u-margin-top--neg2">
          
          <div>
            <p class="vads-u-border-color--primary vads-u-color--gray vads-u-margin-top--neg3 vads-u-display--inline-block vads-u-border-bottom--3px">Components</p>
          </div>
          
          <h1 id="buttons">Buttons</h1>

<p class="va-introtext">Use buttons to signal actions.</p>

<h2 id="default-buttons">Default buttons</h2>

<p>The default buttons are the most commonly-used button on the site.</p>

<div class="site-c-showcase">
<button type="button" class="usa-button">Button</button>
<button type="button" class="usa-button usa-button-active">Active</button>
<button type="button" class="usa-button usa-button-hover">Hover</button>

<br />

<a href="#" class="usa-button">Link button</a>
<a href="#" class="usa-button usa-button-active">Link button active</a>
<a href="#" class="usa-button usa-button-hover">Link button hover</a>
</div>

<div class="usa-accordion-bordered">
<div>
<button class="usa-accordion-button" aria-controls="htmlbuttons-defaulthtml"><span class="fas fa-code"></span> View code snippet</button>
<div id="htmlbuttons-defaulthtml" class="usa-accordion-content">
      <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button"</span><span class="nt">&gt;</span>Button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>

<span class="nt">&lt;br&gt;</span>

<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button"</span><span class="nt">&gt;</span>Link button<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-active"</span><span class="nt">&gt;</span>Link button active<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-hover"</span><span class="nt">&gt;</span>Link button hover<span class="nt">&lt;/a&gt;</span>
</code></pre></div>      </div>
    </div>
</div>
</div>

<h2 id="primary-buttons">Primary buttons</h2>

<p>Use the <strong>primary</strong> button for the primary action on a page.</p>

<div class="site-c-showcase">
<button type="button" class="usa-button-primary va-button-primary">Button</button>

<br />

<a class="usa-button-primary va-button-primary" href="#">Link button</a>
</div>

<div class="usa-accordion-bordered">
<div>
<button class="usa-accordion-button" aria-controls="htmlbuttons-primaryhtml"><span class="fas fa-code"></span> View code snippet</button>
<div id="htmlbuttons-primaryhtml" class="usa-accordion-content">
      <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button-primary va-button-primary"</span><span class="nt">&gt;</span>Button<span class="nt">&lt;/button&gt;</span>

<span class="nt">&lt;br&gt;</span>

<span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"usa-button-primary va-button-primary"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Link button<span class="nt">&lt;/a&gt;</span>
</code></pre></div>      </div>
    </div>
</div>
</div>

<h3 id="research-insight">Research insight</h3>

<p>Our researchers learned that users were missing calls to action on some pages because the blue buttons did not stand out, so a green <strong>primary</strong> button was created, tested and determined to be successful.</p>

<h2 id="secondary-button">Secondary button</h2>

<p>Use <strong>secondary</strong> buttons for any actions that need to be <em>downplayed</em> against other actions.</p>

<div class="site-c-showcase">
<button class="usa-button-secondary">Button</button>
<button class="usa-button-secondary usa-button-active">Active</button>
<button class="usa-button-secondary usa-button-hover">Hover</button>

<br />

<a href="#" class="usa-button usa-button-secondary">Link button</a>
<a href="#" class="usa-button usa-button-secondary usa-button-active">Link button active</a>
<a href="#" class="usa-button usa-button-secondary usa-button-hover">Link button hover</a>
</div>

<div class="usa-accordion-bordered">
<div>
<button class="usa-accordion-button" aria-controls="htmlbuttons-secondaryhtml"><span class="fas fa-code"></span> View code snippet</button>
<div id="htmlbuttons-secondaryhtml" class="usa-accordion-content">
      <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary"</span><span class="nt">&gt;</span>Button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary usa-button-active"</span><span class="nt">&gt;</span>Active<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary usa-button-hover"</span><span class="nt">&gt;</span>Hover<span class="nt">&lt;/button&gt;</span>

<span class="nt">&lt;br&gt;</span>

<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-secondary"</span><span class="nt">&gt;</span>Link button<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-secondary usa-button-active"</span><span class="nt">&gt;</span>Link button active<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-secondary usa-button-hover"</span><span class="nt">&gt;</span>Link button hover<span class="nt">&lt;/a&gt;</span>
</code></pre></div>      </div>
    </div>
</div>
</div>

<h2 id="big-buttons">Big buttons</h2>

<p>Any button can be made bigger by adding a class name of <code class="highlighter-rouge">usa-button-big</code> to the button.</p>

<div class="site-c-showcase">
<button type="button" class="usa-button usa-button-big">Default button</button>
<button type="button" class="usa-button-primary va-button-primary usa-button-big">Button</button>
<button class="usa-button-secondary usa-button-big">Secondary button</button>

<br />

<a href="#" class="usa-button usa-button-big">Default link button</a>
<a href="#" class="usa-button-primary va-button-primary usa-button-big">Primary link</a>
<a href="#" class="usa-button usa-button-secondary usa-button-big">Secondary link</a>
</div>

<div class="usa-accordion-bordered">
<div>
<button class="usa-accordion-button" aria-controls="htmlbuttons-bightml"><span class="fas fa-code"></span> View code snippet</button>
<div id="htmlbuttons-bightml" class="usa-accordion-content">
      <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-big"</span><span class="nt">&gt;</span>Default button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button-primary va-button-primary usa-button-big"</span><span class="nt">&gt;</span>Button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"usa-button-secondary usa-button-big"</span><span class="nt">&gt;</span>Secondary button<span class="nt">&lt;/button&gt;</span>

<span class="nt">&lt;br&gt;</span>

<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-big"</span><span class="nt">&gt;</span>Default link button<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button-primary va-button-primary usa-button-big"</span><span class="nt">&gt;</span>Primary link<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-secondary usa-button-big"</span><span class="nt">&gt;</span>Secondary link<span class="nt">&lt;/a&gt;</span>
</code></pre></div>      </div>
    </div>
</div>
</div>

<h2 id="disabled-buttons">Disabled buttons</h2>

<p>Only <code class="highlighter-rouge">&lt;button&gt;</code> elements can be disabled with a <code class="highlighter-rouge">disabled</code> attribute. To make a <code class="highlighter-rouge">&lt;a&gt;</code> element disabled, you must use <code class="highlighter-rouge">.usa-button.usa-button-disabled</code> on the element.</p>

<div class="site-c-showcase">
<button type="button" class="usa-button" disabled="">Disabled button</button>
<a href="#" class="usa-button usa-button-disabled">Disabled link</a>
</div>

<div class="usa-accordion-bordered">
<div>
<button class="usa-accordion-button" aria-controls="htmlbuttons-disabledhtml"><span class="fas fa-code"></span> View code snippet</button>
<div id="htmlbuttons-disabledhtml" class="usa-accordion-content">
      <div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"usa-button"</span> <span class="na">disabled</span><span class="nt">&gt;</span>Disabled button<span class="nt">&lt;/button&gt;</span>
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"usa-button usa-button-disabled"</span><span class="nt">&gt;</span>Disabled link<span class="nt">&lt;/a&gt;</span>
</code></pre></div>      </div>
    </div>
</div>
</div>

<h2 id="guidance">Guidance</h2>

<ul>
  <li>Buttons can be applied to <code class="highlighter-rouge">&lt;button&gt;</code>, which are used for actions,  or <code class="highlighter-rouge">&lt;a&gt;</code>, which is used for hyperlinks to destinations. Read more about usage under <a href="#accessibility">accessibility</a>.</li>
  <li>Generally, use primary buttons for actions that go to the next step and use secondary buttons for actions that happen on the current page.</li>
  <li>Style the button most users should click in a way that distinguishes from other buttons on the page. Try using the “large button” or the most visually distinct fill color.</li>
  <li>Make sure buttons should look clickable—use color variations to distinguish static, hover and active states.</li>
  <li>Avoid using too many buttons on a page.</li>
  <li>Use sentence case for button labels.</li>
  <li>Button labels should be as short as possible with “trigger words” that your users will recognize to clearly explain what will happen when the button is clicked (for example, “download,” “view” or “sign up”).</li>
  <li>Make the first word of the button’s label a verb. For example, instead of “Complaint Filing” label the button “File a complaint.”</li>
  <li>At times, consider adding an icon to signal specific actions (“download”, “open in a new window”, etc).</li>
  <li>Read more about writing for buttons in the <a href="../content-style-guide/buttons.html">content style guide</a></li>
</ul>

<h3 id="when-to-use">When to use</h3>

<ul>
  <li>Use buttons for the most important actions you want users to take on your site, such as “download,” “sign up,” or “sign out.”</li>
</ul>

<h3 id="when-to-consider-something-else">When to consider something else</h3>

<ul>
  <li>If you want to lead users between pages of a website. Use links instead.</li>
  <li>Less popular or less important actions may be visually styled as links.</li>
</ul>

<h3 id="accessibility">Accessibility</h3>

<ul>
  <li>When using the <code class="highlighter-rouge">&lt;button&gt;</code> element, always specify a <code class="highlighter-rouge">type</code>.</li>
  <li>When using the <code class="highlighter-rouge">&lt;a&gt;</code> element, you may want to consider using <code class="highlighter-rouge">role="button"</code>.</li>
  <li>Buttons should display a visible focus state when users tab to them.</li>
  <li>Avoid using <code class="highlighter-rouge">&lt;div&gt;</code> or <code class="highlighter-rouge">&lt;img&gt;</code> tags to create buttons. Screen readers don’t automatically know either is a usable button.</li>
  <li>When styling links to look like buttons, remember that screen readers handle links slightly differently than they do buttons. Pressing the Space key triggers a button, but pressing the Enter key triggers a link.</li>
</ul>


        </main>
      </div>
      

    </div>

    <footer class="site-footer vads-u-padding-y--5" role="contentinfo">
  <div class="site-l-wrapper">
    <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
      <div>
        <ul class="site-footer__links">
          <li class=site-footer__links__item><a href="/vets-design-system-documentation/documentation/whats-new.html">What’s New?</a></li>
          <li class=site-footer__links__item><a href="http://va.gov/playbook/">VA.gov Playbook</a></li>
          <li class=site-footer__links__item><a target="_blank" href="https://www.section508.va.gov/">Accessibility</a></li>
          <li class=site-footer__links__item><a href="http://va.gov/privacy/">Privacy</a></li>
        </ul>
      </div>
      <div class="footer-seal">
        <a href="/" class="site-footer__logo" title="Go to VA.gov"><img src="/vets-design-system-documentation/assets/img/va-logo-white.png" alt="U.S. Department of Veterans Affairs logo"></a>
      </div>
  </div>
  </div>
</footer>




    <script type="text/javascript" src="/vets-design-system-documentation/vendor/javascripts/bundle.js" charset="utf-8"></script>
    <script src="/vets-design-system-documentation/assets/javascripts/site.js"></script>

    <script src="/vets-design-system-documentation/vendor/javascripts/uswds.min.js"></script>
  </body>

</html>
